@import '../../scss/variables.scss';
.section {
    min-height: inherit;
    padding-top: 45vh;

    > img {
        transform: scale(1.2);
        position: fixed;
        top: 0;
    }

    > button {
        position: fixed;
        z-index: 1;
        left: 1rem;
        top: 1rem;
    }

    > div {
        position: relative;
        z-index: 2;
        min-height: 55vh;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}