.section {
    min-height: inherit;
    position: relative;
}

.top {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    left: 1rem;
    top: 1rem; 
    width: 90%; 
    z-index: 3;
    > input {
        flex: 1
    }
}