@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700&display=swap');
@import './scss/variables.scss';

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
    color: $black;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather';
}

a {
    color: $primary;
}

.container {
    max-width: 540px;
    margin: auto;
}

.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    display: flex;
    justify-content: space-between;
}
$infix: (
    "0": 0,
    "1": 0.5rem, // 8
    "2": 1rem, // 16
    "3": 1.25rem, // 20
    "4": 1.5rem, // 25
    "5": 2rem, // 32
);

$props: (
    "m": "margin",
    "p": "padding"
);

$positions: (
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right"
);

@each $number, $rem in $infix {
    @each $propAbbr, $prop in $props {
        .#{$propAbbr}-#{$number} {
            #{$prop}: $rem !important;
        }

        @each $positionAbbr, $position in $positions {
            .#{$propAbbr}#{$positionAbbr}-#{$number} {
                #{$prop}-#{$position}: $rem !important;
            }
        }
    }
}